:root {
    --red: #c65646;
    --dark-navy: #355164;
    --tangerine: #ff6b31;
    --off-white: #f6f6f6;

    --primary: var(--dark-navy);
    --secondary: var(--red);
    --secondary-light: #ff735f;
    --error: var(--tangerine);

    --grey-1: #444444;
    --grey-2: #666666;
    --grey-3: #888888;
    --grey-4: #aaaaaa;
    --grey-5: #dddddd;
    --grey-6: #eeeeee;

    --standard-border-radius: 3px;

    font-size: 16px;
}

@tailwind base;

* {
    box-sizing: border-box;
}

html {
    @apply h-full;
}

body {
    @apply grid h-full;

    grid-template-columns: 0 100% 0;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header-left header header-right"
        ". main ."
        "footer-left footer footer-right ";

    font-family: Tahoma, sans-serif;
}

header {
    grid-area: header;
}

.header-left {
    grid-area: header-left;
}

.header-right {
    grid-area: header-right;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@tailwind components;

/* Alerts and form errors */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin-bottom: 0;
}

.alert:empty {
    display: none;
}

.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

.links a {
    @apply text-mid-blue;
}

.base-entry {
    @apply border border-grey-5 rounded bg-white p-4 my-2;
}

.base-entry-outer {
    @apply border border-grey-5 rounded bg-white my-2;
}

.base-entry-inner {
    @apply p-4;
}

.release {
    @apply border-l-2 border-primary rounded;
}

.quiet-entry {
    @apply flex items-center my-4;

    /* This is a hack as otherwise the content overflows the parent and I've
       not been able to figure out the correct solution

       The 3rem is from trial and error on small screens
     */
    margin-left: calc(1.1rem + 2px);
    width: calc(100vw - 4rem);

    @media (min-width: 640px) {
        width: 80vw;
    }
}

.timeline-container {
    position: relative;
    z-index: 0;
}

.timeline-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: 1rem 1rem 1rem 1.5rem;
    border-left: 4px solid var(--grey-5);
}

.timeline {
    position: relative;
    z-index: 2;
    list-style: none;
    padding-left: 0;
}

.timeline-circle {
    @apply rounded-full bg-grey-5 mr-2;
    width: 0.8rem;
    height: 0.8rem;
}

.markdown {
    overflow-x: auto;

    pre {
        overflow-x: auto;
    }
}

@tailwind utilities;
